body{
    display: block;
    padding: 10px;
    padding-top: 20px;
    margin-top: 0px;
    margin: auto;
    width: 96%;
    background-color: $color_gray;    
    .container{
        border: 0px;
        border-radius: 30px;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
        box-shadow: $color_white;
        background-color: $color-white;
        max-width: 750px;
        margin: auto;
         
    }
    p{
        font-family: $text;
        background-color: $color_white;
        font-size: $size;
        letter-spacing: 0.2em;
        margin: 30px;
        margin-top: 0px;
        padding-top: 60px;
        color: #71747d;
        word-spacing: $letter;
    }    
}
